# Exclude non-production files from archived exports
tests/ export-ignore
docs/ export-ignore
.github/ export-ignore
docker/ export-ignore
/.env* export-ignore
/.env.prod export-ignore
/.env.local export-ignore
/.env.*.local export-ignore
/.travis.yml export-ignore
phpunit.xml export-ignore
docker-compose.override.yml export-ignore
